# MetaImGUI C++ Code Style Configuration
# Based on LLVM style with customizations

---
Language: Cpp
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4

# Line breaking
ColumnLimit: 120
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeColon

# Spacing
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Pointers and references
DerivePointerAlignment: false
PointerAlignment: Left

# Includes
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  # Project headers
  - Regex:           '^"[A-Z].*\.h"'
    Priority:        1
  # Standard library headers
  - Regex:           '^<[a-z_]+>'
    Priority:        3
  # Third-party library headers
  - Regex:           '^<.*>'
    Priority:        2
  # Catch-all
  - Regex:           '.*'
    Priority:        4

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true

# Functions
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# Namespaces
CompactNamespaces: false
FixNamespaceComments: true

# Misc
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
IndentCaseLabels: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
ReflowComments: true

# Access modifiers
AccessModifierOffset: -4

# C++20 standard
Standard: c++20
Cpp11BracedListStyle: true

